<a href="https://colab.research.google.com/github/BrishtyBilash/CSE-310/blob/master/A2_CT2_18101045.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1:Write a python code to determine odd or even.				[2]
Input:
5
Output:
Odd

In [ ]:
a=int(input())
if (a%2==0):
  print("Even")
else : 
  print("Odd")

5
Odd

Q2:Write a python program to calculate the letter grade of an H.S.C exam. The exam mark will be given as input. Follow the standard rule for grading.			[4]
Input:
82
Output:
A+

In [ ]:
a=float(input())
if(80<=a<=100):
  print("A+")
elif(70<=a<80):
  print("A")
elif(60<=a<70):
  print("A-")
elif(50<=a<60):
  print("B")
elif(40<=a<50):
  print("C")
elif(33<=a<40):
  print("D")
else :
  print("F")

82
A+

Q3:Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string. 				[6]
Example:
Given String: “ABCDEFGHIJKL”
4 parts of the string: “ABC”, “DEF”, “GHI”, “JKL”
Swap the first and last part: “JKL”,  “DEF”, “GHI”, “ABC”
Output: ‘JKLDEFGHIABC’

In [ ]:
a="ABCDEFGHIJKL"
L1="ABC"
L2="DEF"
L3="GHI"
L4="JKL"
List=[L1,L2,L3,L4]
print(List)
List[1],List[3] = List[3],List[1]
print(List)

['ABC', 'DEF', 'GHI', 'JKL']
['ABC', 'JKL', 'GHI', 'DEF']

Q4:Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the ID, it will show all the information of that student.  [8]
	Student Table:

Input:
12
Output:
ID: 12, First Name: Haley, Last Name: Martinez, Email: hmartinez@univerity.edu, Year of Birth 1993

In [ ]:
L = {
    1     : {
                "ID"            : "1",
                "Fist Name"     : "Peter",
                "Last Name"     : "Lee",
                "Email"         : "plee@university.edu",
                "Year of Birth" : "1992"
            },
    2     : {
                "ID"            : "2",
                "Fist Name"     : "Jonathan",
                "Last Name"     : "Edwards",
                "Email"         : "jedwards@university.edu",
                "Year of Birth" : "1994"
            },
    3     : {
                "ID"            : "3",
                "Fist Name"     : "Marilyn",
                "Last Name"     : "Johnson",
                "Email"         : "mjohnson@university.edu",
                "Year of Birth" : "1993"
            },
    6     : {
                "ID"            : "6",
                "Fist Name"     : "Joe",
                "Last Name"     : "kim",
                "Email"         : "jkim@university.edu",
                "Year of Birth" : "1992"
            },
    12     :{
              "ID"            : "12",
              "Fist Name"     : "Haley",
              "Last Name"     : "Martinez",
              "Email"         : "hmartinez@university.edu",
              "Year of Birth" : "1993"
            }
}

In [ ]:
L[12]

{'Email': 'hmartinez@university.edu',
 'Fist Name': 'Haley',
 'ID': '12',
 'Last Name': 'Martinez',
 'Year of Birth': '1993'}